

div h3{
    list-style: none;
}

.total.sticky{
    background: rgb(255, 255, 255,1);
}
.logo{
    flex: 1;
}
.menu{
    flex: 3;
    display: flex;
    
}
.menu li{
    list-style: none;
    padding: 10px 12px;
    
}

.menu li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    display: block;
    line-height: 20px;
}
.sidebar{
    min-height: 200px;
    top:15%;
    position: -webkit-sticky;
    position: sticky;
    overflow: auto;
}