*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
}
.gallery{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.col-sm-4{
    border-radius: 5px;
    width: 344px;
    height: 200px;
    /* margin: 0 2px; */
    /* overflow: hidden; */
}
img{
    width: 344px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 3px 5px #000;
}
img:hover{
    transform:scale(1.3);
}
