<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="contact map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.331961585641!2d106.6629935139512!3d10.785867061970777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f977ea563cf%3A0x19aa9abd6a1b441d!2sLe%20Thi%20Rieng%20Park!5e0!3m2!1sen!2s!4v1656887616281!5m2!1sen!2s" width="720" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

            </div>
            <div class="col-sm-4 bg-blue">
                <div class="contact info">
                    <h3>Contact Info</h3>
                    <div class="infoBox">
                        <div>
                            <span><i class="fa-solid fa-location-dot"></i></span>
                            <p>Cannaught Palace, New Delhi <br> VietNam</p>
                        </div>
                        <div>
                            <span><i class="fa-solid fa-envelope"></i></span>
                            <a href="mailto:quicao902@gmail.com">quicao902@gmail.com</a>
                        </div>
                        <div>
                            <span><i class="fa-solid fa-phone"></i></span>
                            <a href="tel:+84352074902">+84 352 074 902</a>
                        </div>
                        <ul class="sci">
                            <li><a href=""><i class="fa-brands fa-facebook" style="font-size:100%"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-twitter" style="font-size:100%"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-linkedin-in" style="font-size:100%"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-instagram-square" style="font-size:100%"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> -->
    
</body>
</html>