<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-2 text-white ">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#asia">Asia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#menu1">Africa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#menu2">Autraslia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#menu3">Europe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#menu4">North America</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#menu5">South America</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-10">
                <div class="tab-content">
                    <div id="asia" class="container tab-pane active"><br>
                        <h3>Asia</h3>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chau á/angkorwat.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau á/codohue.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau á/codohue2.jpeg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chau á/halongbay.png" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau á/halongbay2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau á/halongbay3.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chau á/Komodo.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau á/komodo2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau á/kyoto.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chau á/kyoto2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau á/lorentz.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau á/kyoto3.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chau á/phongnha.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau á/son doong.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau á/sondoong2.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chau á/valytruongthanh.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau á/van-ly-truong-thanh.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau á/van-ly-truong-thanh2.jpg" alt="" width="100%"></div>
                        </div>
                    </div>
                    <div id="menu1" class="container tab-pane fade"><br>
                        <h3>Africa</h3>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/aicap2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/aicap3.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/aicap4.webp" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/kenya.jfif" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/kenya2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/kenya3.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/lalibela.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/phi.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/Tsingy de bemaraha4.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/Tsingy de bemaraha.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/Tsingy de bemaraha2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/Tsingy de bemaraha3.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/Tsingy de bemaraha4.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/" alt="" width="100%"></div>
                        </div>
                    </div>
                    <div id="menu2" class="container tab-pane fade"><br>
                        <h3>Australia</h3>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chau uc/kakadu.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau uc/kakadu2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau uc/kakadu3.jfif" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chau uc/portarthur.jfif" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau uc/uluru.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau uc/uluru2.jpg" alt="" width="100%"></div>
                        </div>
                    </div>
                    <div id="menu3" class="container tab-pane fade"><br>
                        <h3>Europe</h3>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chauau/Carpathian.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/cauf.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/caumang.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chauau/cong-vien-muskauer.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/cong-vien-muskauer2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/kilda.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chauau/kilda2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/lakedistrict.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/lake-district.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chauau/lakedistrict2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/lake-district2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/Lake-District3.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chauau/lake-district4.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/lama2.jpeg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/lama3.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chauau/lama4.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/lama5.jpeg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/Madriu-Perafita-Claror.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chauau/panthon.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/panthon2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/stone.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chauau/stone2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/stone3.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/studley.jpg" alt="" width="100%"></div>
                        </div>
                    </div>
                    <div id="menu4" class="container tab-pane fade"><br>
                        <h3>North America</h3>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/arizona2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/arizona3.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/arizona4.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/arizona6.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/bermuda.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/bermuda2.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/canada.jpeg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/canada.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/canada2.jpeg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/canada2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/canada3.jpeg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/canada4.jpeg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/dino.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/ho2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/ho3.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/hospicio.jfif" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/hospicio2.jfif" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/Morelia.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/newmexico.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/newmexico2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/newmexico3.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/rocklymountain.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/rocklymountain2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/rocklymountain3.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/rocklymountain4.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/rocklymountain5.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/thienthach.jpg" alt="" width="100%"></div>
                        </div>
                    </div>
                    <div id="menu5" class="container tab-pane fade"><br>
                        <h3>South America</h3>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/nami/amazon.jpeg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/amazon2.jpeg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/amazon3.jpeg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/nami/brazil_atlantic_forest_coast_.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/chile2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/galapagos.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/nami/lapagos.png" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/lapagos2.png" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/lapagos3.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/nami/histori.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/histori2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/iguazu.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/nami/iguazu3.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/iguazu4.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/j.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/nami/Los Alerces.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/Los Alerces2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/Los Alerces3.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/nami/Los Alerces4.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/Los-Glaciares-National-Park.jpeg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/Los-Glaciares-National-Park2.jpeg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/nami/Los-Glaciares-National-Park4.jpeg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/Machu_Picchu,_Peru.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/Machu_Picchu,_Peru2.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/nami/Machu_Picchu,_Peru3.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/Machu_Picchu,_Peru4.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/rio-de-janeiro.jpg" alt="" width="100%"></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
</body>
</html>