<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/gallery.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-route.js">
    </script>
  
  
</head>
<body  ng-app="myApp">
    <div id="wrapper">
  <header>
<nav class="navbar navbar-expand-sm navbar-light ">
  
  <div class="container-fluid inner-header">
    <a class="navbar-brand logo" href="/index.html"><i class="fa-solid fa-earth-africa" style="font-size:200%">Monument </i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon mai"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto" id="main-menu">
        <li class="nav-item">
          <a class="nav-link" href="/index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link "  href="/component/seven.html" id="active">Seven Wonder Wolrd</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/component/gallery.html" id="active">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/component/about.html">About US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/component/feedback.html">Feed Back</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/component/contact.html">Contact Us</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-none" type="button">
          <i class="fa fa-search " aria-hidden="true"></i>
        </button>
      </form>
    </div>
  </div>
</nav>
</header>
<div id="banner">
            
</div> <br>
<section class="container">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 text-white ">
                <ul class="nav flex-column" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#asia">Asia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#menu1">Africa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#menu2">Autraslia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#menu3">Europe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#menu4">North America</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#menu5">South America</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-10">
                <div class="tab-content">
                    <div id="asia" class="container tab-pane active" class="gallery"><br>
                        <h3>Asia</h3>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chau á/angkorwat.jpg" alt=""></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau á/codohue.jpg" alt=""></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau á/codohue2.jpeg" alt=""></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chau á/halongbay.png" alt=""></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau á/halongbay2.jpg" alt=""></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau á/halongbay3.jpg" alt=""></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chau á/Komodo.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau á/komodo2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau á/kyoto.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chau á/kyoto2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau á/lorentz.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau á/kyoto3.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chau á/phongnha.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau á/son doong.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau á/sondoong2.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chau á/valytruongthanh.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau á/van-ly-truong-thanh.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau á/van-ly-truong-thanh2.jpg" alt="" width="100%"></div>
                        </div>
                    </div>
                    <div id="menu1" class="container tab-pane fade" class="gallery"><br>
                        <h3>Africa</h3>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/aicap2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/aicap3.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/aicap4.webp" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/kenya.jfif" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/kenya2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/kenya3.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/lalibela.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/phi.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/Tsingy de bemaraha4.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/Tsingy de bemaraha.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/Tsingy de bemaraha2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau phi/Tsingy de bemaraha3.jpg" alt="" width="100%"></div>
                        </div>
                    </div>
                    <div id="menu2" class="container tab-pane fade" class="gallery"><br>
                        <h3>Australia</h3>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chau uc/kakadu.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau uc/kakadu2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau uc/kakadu3.jfif" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chau uc/portarthur.jfif" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau uc/uluru.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chau uc/uluru2.jpg" alt="" width="100%"></div>
                        </div>
                    </div>
                    <div id="menu3" class="container tab-pane fade" class="gallery"><br>
                        <h3>Europe</h3>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chauau/Carpathian.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/cauf.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/caumang.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chauau/cong-vien-muskauer.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/cong-vien-muskauer2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/kilda.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chauau/kilda2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/lakedistrict.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/lake-district.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chauau/lakedistrict2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/lake-district2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/Lake-District3.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chauau/lake-district4.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/lama2.jpeg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/lama3.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chauau/lama4.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/lama5.jpeg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/Madriu-Perafita-Claror.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chauau/panthon.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/panthon2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/stone.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chauau/stone2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/stone3.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chauau/studley.jpg" alt="" width="100%"></div>
                        </div>
                    </div>
                    <div id="menu4" class="container tab-pane fade" class="gallery"><br>
                        <h3>North America</h3>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/arizona2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/arizona3.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/arizona4.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/arizona6.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/bermuda.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/bermuda2.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/canada.jpeg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/canada.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/canada2.jpeg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/canada2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/canada3.jpeg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/canada4.jpeg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/dino.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/ho2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/ho3.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/hospicio.jfif" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/hospicio2.jfif" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/Morelia.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/newmexico.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/newmexico2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/newmexico3.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/rocklymountain.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/rocklymountain2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/rocklymountain3.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/rocklymountain4.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/rocklymountain5.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/chaumi/thienthach.jpg" alt="" width="100%"></div>
                        </div>
                    </div>
                    <div id="menu5" class="container tab-pane fade"><br>
                        <h3>South America</h3>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/nami/amazon.jpeg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/amazon2.jpeg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/amazon3.jpeg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/nami/brazil_atlantic_forest_coast_.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/chile2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/galapagos.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/nami/lapagos.png" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/lapagos2.png" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/lapagos3.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/nami/histori.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/histori2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/iguazu.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/nami/iguazu3.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/iguazu4.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/j.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/nami/Los Alerces.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/Los Alerces2.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/Los Alerces3.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/nami/Los Alerces4.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/Los-Glaciares-National-Park.jpeg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/Los-Glaciares-National-Park2.jpeg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/nami/Los-Glaciares-National-Park4.jpeg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/Machu_Picchu,_Peru.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/Machu_Picchu,_Peru2.jpg" alt="" width="100%"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><img src="/hinhanh/nami/Machu_Picchu,_Peru3.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/Machu_Picchu,_Peru4.jpg" alt="" width="100%"></div>
                            <div class="col-sm-4"><img src="/hinhanh/nami/rio-de-janeiro.jpg" alt="" width="100%"></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
 <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

  <footer class="text-white text-center text-lg-start bg-dark">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row mt-4">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <!-- <h5 class="text-uppercase mb-4">About company</h5> -->

        <p>
          <i class="fa-solid fa-earth-africa" style="font-size:200%">Monument </i>
        </p>


        <div class="mt-4">
          <!-- Facebook -->
          <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fab fa-facebook-f"></i></a>
          <!-- Dribbble -->
          <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fab fa-dribbble"></i></a>
          <!-- Twitter -->
          <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fab fa-twitter"></i></a>
          <!-- Google + -->
          <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fab fa-google-plus-g"></i></a>
          <!-- Linkedin -->
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 pb-1">Search something</h5>

        <div class="form-outline form-white mb-4">
          <input type="text" id="formControlLg" class="form-control form-control-lg" />
          <label class="form-label" for="formControlLg">Search</label>
        </div>

        <ul class="fa-ul" style="margin-left: 1.65em;">
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">590 VND. Cach Mang Thang 8, Ward 11, District 3, Ho Chi Minh City 723564</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">quicao902@gmail.com</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 84 352 074 902</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">+ 84 352 074 909</span>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Opening hours</h5>

        <table class="table text-center text-white">
          <tbody class="font-weight-normal">
            <tr>
              <td>Mon - Thu:</td>
              <td>8am - 9pm</td>
            </tr>
            <tr>
              <td>Fri - Sat:</td>
              <td>8am - 1am</td>
            </tr>
            <tr>
              <td>Sunday:</td>
              <td>9am - 10pm</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://www.facebook.com/profile.php?id=100077208413470">Historical Monument</a>
  </div>
  <!-- Copyright -->
</footer>

</div>
<!-- End of .container -->
</div>
<div id="backtop">
  <i class="fa-solid fa-angle-up"></i>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/Folder JS/doan.js"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>


<!-- script hinh anh -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"
     integrity="sha512-b4rL1m5b76KrUhDkj2Vf14Y0l1NtbiNXwV+SzOzLGv6Tz1roJHa70yr8RmTUswrauu2Wgb/xBJPR8v80pQYKtQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script>
        lightGallery(document.querySelector('.gallery'));
    </script>
</body>
</html>


