<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-route.js">
    </script>
    <style>
   .sidebar {
    
  min-height: 200px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 15%;
}

    </style>
</head>
<body  ng-app="myApp">
    <div id="wrapper">
  <header>
<nav class="navbar navbar-expand-sm navbar-light ">
  
  <div class="container-fluid inner-header">
    <a class="navbar-brand logo" href="/index.html"><i class="fa-solid fa-earth-africa" style="font-size:200%">Monument </i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon mai"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto" id="main-menu">
        <li class="nav-item">
          <a class="nav-link" href="/index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link "  href="/component/seven.html" id="active">Seven Wonder Wolrd</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/component/gallery.html" id="active">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/component/about.html">About US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/component/feedback.html">Feed Back</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/component/contact.html">Contact Us</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-none" type="button">
          <i class="fa fa-search " aria-hidden="true"></i>
        </button>
      </form>
    </div>
  </div>
</nav>
</header>
<div id="banner">
            
</div> <br>
<section class="container">
    <div class="container">
        <div class="row">
          <div class="col-sm-2"   >
            <div class="sidebar">
              <ul class="nav nav-tabs" role="tablist" >
                 
                <li class="nav-item">
                  <a class="nav-link"  href="#menu1">Giza Piramid</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="#menu2">Colosseum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="#menu3">Great wall Of China</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link"  href="#menu4"> Petra</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="#menu5"> Christ of redeemmers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="#menu6">Macchu Picchu</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#chichen">Chicchen Itza</a>
                </li>
              </ul>    
            </div>
          </div>
          

            <div class="col-sm-7">
              <div class="tab-content">
                <div id="menu1" ><br>
                  <div class="card">
                    <div class="card-header">
                      <a class="nav-link"  href="/Seven wonder/greatwall.html">
                        <h1>I. Great wall Of China</h1>
                              <img src="\hinhanh\images\great wall.jpg" alt="wall" width="100%" class="center">
                      </a>
                    </div>
                    <div class="card-body">
                      Great Wall of China, Chinese (Pinyin) Wanli Changcheng or (Wade-Giles romanization) Wan-li Ch’ang-ch’eng (“10,000-Li Long Wall”), extensive bulwark erected in ancient China, one of the largest building-construction projects ever undertaken. 
                     The Great Wall actually consists of numerousy... <a href="/Seven wonder/greatwall.html">See more</a>
                    </div>
                  </div>
                </div> 

                <br>

                <div id="menu2" ><br>
                  <div class="card">
                    <div class="card-header">
                      <a class="nav-link"  href="/Seven wonder/Colosseum.html"> 
                        <h1>II. Colosseum</h1>
                            <img src="\hinhanh\images\colosseum.jpg" alt="colosseum" width="100%" class="center">
                      </a>
                    </div>
                    <div class="card-body">
                      Colosseum, also called Flavian Amphitheatre, giant amphitheatre built in Rome under the Flavian emperors. 
                      Construction of the Colosseum was begun sometime between 70 and 72 CE during the reign of Vespasian. 
                      It is located just east of the Palatine Hill, on the grounds of what was Nero’s Golden House... <a href="/Seven wonder/Colosseum.html">See more</a>
                    </div>
                  </div>
                </div>
                  

                <br>
                <div id="menu3" ><br>
                  <div class="card">
                    <div class="card-header">
                      <a href="/Seven wonder/pyramids.html">
                        <h1> III. Giza Piramid</h1>
                        <img src="\hinhanh\images\Pyramids-of-Giza.jpg" alt="" width="100%">
                      </a> 
                    </div>
                    <div class="card-body">
                      Pyramids of Giza, Arabic Ahrāmāt Al-Jīzah, Giza also spelled Gizeh, three 4th-dynasty (c. 2575–c. 2465 BCE) pyramids erected on a rocky plateau on the west bank of the Nile River near Al-Jīzah (Giza) in northern Egypt. 
                     In ancient times they were included... <a href="/Seven wonder/pyramids.html">See more</a>
                      
                    </div>
                  </div>
                </div>
                
                  <br>
                  <div class="card">
                      <div class="card-header">
                        <a class="nav-link"  href="/Seven wonder/Petra.html" id="menu4">
                          <h1>IV. Petra</h1>
                          <img src="\hinhanh\images\Petra.jpg" alt="Petra" width="100%" class="center">
                        </a>
                      </div>
                    <div class="card-body">
                        Petra, Arabic Baṭrā, ancient city, centre of an Arab kingdom in Hellenistic and Roman times, the ruins of which are in southwest Jordan. The city was built on a terrace, pierced from east to west by the Wadi Mūsā (the Valley of Moses)—one of the places where... <a href="/Seven wonder/Petra.html">See more</a>
                       
                    </div>
                  </div>

                  <div id="menu5" ><br>
                    <div class="card">
                      <div class="card-header">
                        <a class="nav-link"  href="/Seven wonder/Christ the redeemer.html">
                          <h1>V. Christ of redeemmers</h1>
                          <img src="\hinhanh\images\Christ of Redeemer.jpg" alt="Christ" width="100%" class="center">
                        </a>
                      </div>
                      <div class="card-body">
                        Christ the Redeemer, Portuguese Cristo Redentor, colossal statue of Jesus Christ at the summit of Mount Corcovado, Rio de Janeiro, southeastern Brazil. 
                        Celebrated in traditional and popular songs, Corcovado towers over Rio de Janeiro, Brazil’s principal port city... <a href="/Seven wonder/Christ the redeemer.html">See more</a>
                      </div>
                  </div>
                  </div>

                  <div id="menu6" ><br>
                    <div class="card">
                      <div class="card-header">
                        <a class="nav-link active"  href="/Seven wonder/Macchu Picchu.html">
                          <h1>VI.Macchu Picchu</h1>
                                <img src="\hinhanh\images\Macchu.jpg" alt="Macchu" width="100%" class="center">
                        </a>
                      </div>
                      <div class="card-body">
                        Machu Picchu, also spelled Machupijchu, site of ancient Inca ruins located about 50 miles (80 km) northwest of Cuzco, Peru, in the Cordillera de Vilcabamba of the Andes Mountains. It is perched above the Urubamba River valley in a narrow saddle... <a href="/Seven wonder/Macchu Picchu.html">See more</a>
                      </div>
                  </div>
                  </div>

                  <div id="menu7" ><br>
                    
                    <div class="card">
                      <div class="card-header">
                        <a class="nav-link active" href="/Seven wonder/chicchen Itza.html">
                          <h1 id="chichen">VII. Chicchen Itza </h1>
                              <img src="\hinhanh\images\Chichen.jpg" alt="Chichen" width="100%" class="center">
                        </a>
                      </div>
                      <div class="card-body">
                        hichén Itzá, ruined ancient Maya city occupying an area of 4 square miles (10 square km) in south-central Yucatán state, Mexico. It is thought to have been a religious, military, political, and commercial centre that at its peak would have been home to 35,000 people. 
                       The site first saw settlers in 550, probably drawn there because of the easy access to water in the region via caves and sinkholes in limestone formations, known as cenotes... <a href="/Seven wonder/chicchen Itza.html">See More</a>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                <div class="col-sm-3">
                  <div class="sidebar">
                  <h1>See More</h1>
                  <div class="card">
                    
                    <div class="card-header">
                      <a class="nav-link"  href="/Seven wonder/pisa.html">
                        <img src="/hinhanh/images/pisa2.jpg" alt="" width="100%">
                        <h2>Leaning tower of Pisa</h2>
                      </a>
                    </div>
                    <div class="card-header">
                      <a class="nav-link" href="/Seven wonder/parthennon.html">
                        <img src="/hinhanh/images/parthennon1.jpg" alt="" width="100%">
                        <h2>Parthenon temple</h2>
                      </a>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
          </div>
         
        
      
                     
</section>
 <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

  <footer class="text-white text-center text-lg-start bg-dark">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row mt-4">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <!-- <h5 class="text-uppercase mb-4">About company</h5> -->

        <p>
          <i class="fa-solid fa-earth-africa" style="font-size:200%">Monument </i>
        </p>


        <div class="mt-4">
          <!-- Facebook -->
          <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fab fa-facebook-f"></i></a>
          <!-- Dribbble -->
          <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fab fa-dribbble"></i></a>
          <!-- Twitter -->
          <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fab fa-twitter"></i></a>
          <!-- Google + -->
          <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fab fa-google-plus-g"></i></a>
          <!-- Linkedin -->
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 pb-1">Search something</h5>

        <div class="form-outline form-white mb-4">
          <input type="text" id="formControlLg" class="form-control form-control-lg" />
          <label class="form-label" for="formControlLg">Search</label>
        </div>

        <ul class="fa-ul" style="margin-left: 1.65em;">
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">590 VND. Cach Mang Thang 8, Ward 11, District 3, Ho Chi Minh City 723564</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">quicao902@gmail.com</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 84 352 074 902</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">+ 84 352 074 909</span>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Opening hours</h5>

        <table class="table text-center text-white">
          <tbody class="font-weight-normal">
            <tr>
              <td>Mon - Thu:</td>
              <td>8am - 9pm</td>
            </tr>
            <tr>
              <td>Fri - Sat:</td>
              <td>8am - 1am</td>
            </tr>
            <tr>
              <td>Sunday:</td>
              <td>9am - 10pm</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://www.facebook.com/profile.php?id=100077208413470">Historical Monument</a>
  </div>
  <!-- Copyright -->
</footer>

</div>
<!-- End of .container -->
</div>
<div id="backtop">
  <i class="fa-solid fa-angle-up"></i>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/Folder JS/doan.js"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>
</body>
</html>


